.container {
    display: flex;
    gap: 20px;
    padding-right: 20px;
    background-color: blueviolet;
    align-items: center;
    justify-content: space-between;
    align-content: right;
    text-align: right;
  }
  
  @media screen and (max-width: 768px) {
    .container {
      flex-direction: column;
      gap: 5px;
    }
  }
  